# Handling Missing Values in Python (na_values,keep_default_na,na_filter)

In [1]:
import pandas as pd

In [2]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv")
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",not available,6597557,null,Yes
4,5,Techdrill,not available,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,no values,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",not available,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [3]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv", na_values = 'no values')
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",not available,6597557,null,Yes
4,5,Techdrill,not available,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",not available,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [4]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv", na_values = 'not available')
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",NaN,6597557,null,Yes
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,no values,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [5]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv")
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",not available,6597557,null,Yes
4,5,Techdrill,not available,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,no values,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",not available,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [6]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv",  na_values = ['no values', 'not available'])
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",NaN,6597557,null,Yes
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [7]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv")
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",not available,6597557,null,Yes
4,5,Techdrill,not available,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,no values,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",not available,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [8]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv", na_values = {'Industry':'no values' , 'Expenses':'not available'})
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",NaN,6597557,null,Yes
4,5,Techdrill,not available,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [9]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv")
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",not available,6597557,null,Yes
4,5,Techdrill,not available,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,no values,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",not available,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [10]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv" , keep_default_na = False )
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",not available,6597557,null,Yes
4,5,Techdrill,not available,2009,"$10,573,990","7,435,363 Dollars",3138627,,No
5,6,Techline,no values,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NULL,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",not available,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [11]:
pd1 = pd.read_csv("D:\DATA\Fortune_11.csv" , keep_default_na = True)
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934",not available,6597557,null,Yes
4,5,Techdrill,not available,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN,No
5,6,Techline,no values,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,null,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",not available,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [14]:
pd2 = pd.read_csv("D:\DATA\Fortune_10.csv", na_filter = False)
pd2

# it is to find and interpret the missing values

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,No
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No