
# Methods of Pandas(Head(),tail())

# Perimeter of read_csv (dtype,true_values,false_values)

In [1]:
import pandas as pd

In [2]:
pd1 = pd.read_csv("D:\DATA\Fortune_10.csv")
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,No
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [3]:
pd1.head()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,No

In [4]:
pd1.head(1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes

In [5]:
 pd1.head(8)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,No
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,No

In [6]:
 pd1.tail()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [7]:
pd1.tail(1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [8]:
pd1.tail(8)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,No
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

# Perimeter of read_csv

In [9]:
pd1 = pd.read_csv("D:\DATA\Fortune_10.csv", dtype={'ID':'float64'})
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,No
5,6.0,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7.0,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,No
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,Yes
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [10]:
pd1 = pd.read_csv("D:\DATA\Fortune_10.csv", dtype= {'Inception':'float64'})
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%,No
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%,No
5,6,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%,Yes
6,7,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%,No
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%,No
8,9,Ganzlax,IT Services,2011.0,"$14,001,180",NaN,11901180,18%,Yes
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%,No

In [11]:
pd1 = pd.read_csv("D:\DATA\Fortune_10.csv", dtype = {'Profit':'float64'})
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%,No
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%,No
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816.0,23%,Yes
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%,No
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%,No
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%,Yes
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%,No

In [12]:
pd1 = pd.read_csv("D:\DATA\Fortune_10.csv", dtype = {'ID':'float64', 'Profit':'float64'})
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%,Yes
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%,No
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%,Yes
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%,Yes
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%,No
5,6.0,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816.0,23%,Yes
6,7.0,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%,No
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%,No
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%,Yes
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%,No

In [17]:
pd1 = pd.read_csv("D:\DATA\Fortune_10.csv", true_values= ['Yes'], false_values = ['No'])
pd1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Data
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,True
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,False
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,True
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,True
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,False
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,True
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,False
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,False
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,True
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,False